@import 'include/vars'
@import 'include/mixins'

//Normalize
normalize-css()
figure
	margin 0

a,button
	outline: none

a
	&:hover, &:focus
		text-decoration none

svg
	fill none

img
	vertical-align bottom
.container:after
	content none

ul
	padding-left 0
	margin 0

p
	margin 0
//Global-styles

body
	background-color #f9f9fa
	font-size 16px

h1
	font-set(2.25, regular)
	margin-top 0
	margin-bottom 0

h2
	font-set(1.875,regular)

.container
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto

//Buttons
.button
	font-set(0.8125,bold)
	color #fff
	text-transform uppercase
	border none
	margin-bottom 20px
	&_s
		&_l
			width 100%
			padding 11px 0
		&_xl
			width 100%
			padding 31px 0
	&_purple
		background-color purple
		&:hover
			background-color #1d1844

	&_orange
		background-color #ff7725
		&:hover
			background-color #ff4e25

	&_icon
		display flex
		align-items center
		display flex
		align-items center
		justify-content center
		svg
			height 37px
			fill #fff
			margin 0 18px 0 -45px

//header styles
@import 'include/header.styl'

.breadcrumbs
	width 100%
	margin-bottom 18px
	text-align center
	padding-top 25px
	&-item
		font-set(0.875,medium)
		color gray
		&:first-child:after
			dot()
		&:hover, &:focus
			color purple

.page-wrap
	padding-bottom 21px
	display flex
	justify-content center

.news
	min-width 290px
	margin-right 20px
	margin-bottom 20px
	&__heading
		font-set(2.25, medium)
		margin-top 0
		margin-bottom 38px
		line-height 0.7
	/.tags
		margin-bottom 28px
		list-style-type none
		display flex
		flex-wrap wrap
		&__item
			margin-right 10px
			margin-bottom 10px
		/.tag
			font-set(0.75 ,medium)
			text-transform uppercase
			padding-left 12px
			padding-right 12px
			border-radius 15px
			&_header
				color gray
				padding-top 4px
				padding-bottom 4px
				border 1px solid gray
				&:hover,&:focus
					color #fff
					background-color #6103fc
					border-color #6103fc
				&_last
					font-set(0.8125em, bold)
					padding-left 9px
					color gray
					&:hover,&:focus
						color purple
	&__body
		display flex
		flex-wrap wrap
		justify-content space-between
	&-item
		position relative
		max-width 300px
		min-width 290px
		height 400px
		background-color #fff
		margin-bottom 20px
		&__link-wrap
			display block
			height 100%
		&__img
			position relative
			min-height 59px
			max-height 200px
			img
				max-width 100%
				height 100%
		&__text
			margin-top 14px
			font-set(1.125, medium)
			color #000
			letter-spacing 0.5px
			^[0]-item:hover &
				color purple
		&__content
			padding 21px 24px
		/.tag
			&_news-item
				position absolute
				top 21px
				left 19px
				padding-top 2px
				padding-bottom 2px
				color #fff
				&:hover
					color #000
			^[-1]#art &
				background-color #ba5fc1
			^[-1]#fasion &
				background-color #542e57
			^[-1]#education &
				background-color #5c9715
			^[-1]#enjoy &
				background-color #ff7725
			^[-1]#sport &
				background-color #6103fc
		&:hover
			box-shadow 0 10px 40px rgba(#324153 30%)
		&__overlay
			position absolute
			width 100%
			height 100%
			bottom 0
			background-color rgba(#000 40%)
			display none
			^[0]-item:hover &
				display block
			^[1]&_no-img
				background-color transparent
		/.discuss
			display flex
			justify-content flex-start
			^[1]_no-img &&_news
				top auto
				bottom 0
			^[1]_no-img &&_news &__item
				border-color #edeef0
				color gray
				svg
					fill gray
			&__item
				display flex
				align-items center
				justify-content center
				margin-right 18px
				font-set(0.75,medium)
				letter-spacing 0.2px
				color gray
			&__icon
				height 13px
				svg
					fill gray
					margin-right 5px
				&_like,&_dislike
					svg
						height 13px
				&_view
					height 16px
					svg
						height 9px
				&_comment
					svg
						height 12px
			^[2]&_news
				position absolute
				top 141px
				width 100%
				justify-content space-around
				display none
			^[0]-item:hover &
				display flex
			^[2]&_news ^[2]__item
				margin-right 0
				width 25%
				flex-direction column
				align-items center
				height 59px
				color #fff
				border 1px solid rgba(#fff 15%)
				svg
					fill #fff
					margin-right 0

		/.date
			font-set(0.75, medium)
			color gray
			display inline-flex
			align-items center
			svg
				height 14px
				fill gray
				margin 0 8px



.sidebar
	max-width 300px
	display flex
	flex-direction column
	align-items center
	&__heading
		padding 0 23px
		font-set(1.875, medium)
		margin-bottom 21px
	&__block
		width 100%
		padding-top 27px
		background-color #fff
		margin-bottom 20px
	&__banner
		margin-bottom 20px
	/.period
		position relative
		list-style-type none
		display flex
		align-items center
		justify-content center
		padding 0 23px 9px
		border-bottom 1px solid #edeef0
		&__item
			margin-right 4px
			&:last-child
				margin-right 0
			&:first-child, &:nth-child(2)
				&:after
					dot()
					margin-left 20px
		&__link
			font-set(0.8125, bold)
			color gray
			text-transform uppercase
			z-index 2
			position relative
			&:hover,&:focus
				color #000
				&:after
					green-line()

		/.number
			display inline-flex
			justify-content center
			align-items center
			width 22px
			height 22px
			background-color #ff7725
			border-radius 100%
			font-set(0.875,bold)
			color #fff
	&__item
		padding 0 23px
		margin-top 41px
		margin-bottom 41px
	&__text
		margin-top 10px
		margin-bottom 19px
		font-set(1, medium)
	&__link-more
		display flex
		justify-content center
		align-items center
		position relative
		padding 24px 0
		font-set(0.8125, bold)
		color gray
		text-transform uppercase
		border-top 1px solid #edeef0
		&:after
			content '+'
			font-size 1.5em
			margin-left 11px
		&:hover,&:focus
			color purple

// Footer
@import 'include/footer.styl'

// Media queries
@import 'include/media.styl'