@import 'include/vars'
@import 'include/mixins'

//Normalize
normalize-html5()

a,button
	outline: none

.container:after
	content none

ul
	padding-left 0
	margin 0
//Global-styles

body
	background-color #f9f9fa
	font-size 16px

h1
	font(2.25, regular)
	margin-top 0
	margin-bottom 0

h2
	font(1.875,regular)

svg
	fill none

a
	&:hover, &:focus
		text-decoration none

//header styles
@import 'include/header.styl'

.page
	padding-top 25px
	padding-bottom 61px
	display flex
	flex-wrap wrap
	justify-content space-between
	&__heading
		width 100%
		margin-bottom 10px
		p
			font(0.875,medium)
			text-align center
			color gray
			margin 0
		/.dot
			width 3px
			height 3px
			display inline-block
			background-color gray
			vertical-align middle
			margin 0 12px

.main
	width 74.6%
	min-width 290px
	/.menu
		width 91%
		margin 36px 0 40px
		list-style-type none
		display flex
		justify-content space-between
		&__link
			font(0.75 ,medium)
			text-transform uppercase
			letter-spacing 0.2px
			color gray
			padding 4px 12px
			border 1px solid gray
			border-radius 15px
			&:hover,&:focus
				color #fff
				background-color #6103fc
				border-color #6103fc
			^[2]^[2]_last
				font(0.8125em, bold)
				border none
				&:hover,&:focus
					background-color transparent
					color purple
	&__body
		display flex
		flex-wrap wrap
		justify-content space-between
	&__item
		position relative
		max-width 300px
		height 400px
		background-color #fff
		margin-bottom 20px
		figure
			position relative
			min-height 59px
		img
			max-width 100%
		figcaption
			position absolute
			top 21px
			left 19px
			font(0.75em, medium)
			color #fff
			text-transform uppercase
			padding 2px 12px
			border-radius 15px
			^[-1]#art figcaption
				background-color #ba5fc1
			^[-1]#fasion figcaption
				background-color #542e57
			^[-1]#education figcaption
				background-color #5c9715
			^[-1]#enjoy figcaption
				background-color #ff7725
			^[-1]#sport figcaption
				background-color #6103fc
		&:hover
			box-shadow 0 10px 40px rgba(#324153 30%)
	&__overlay
		position absolute
		width 100%
		height 100%
		bottom 0
		background-color rgba(#000 40%)
		align-items flex-end
		display none
		^[0]__item:hover &
			display flex
		^[1]&_no-img
			background-color transparent
		/.discuss
			display flex
			justify-content flex-start
			^[1]_no-img &&_main &__item
				border-color #edeef0
				color gray
				svg
					fill gray
			&__item
				display flex
				align-items center
				justify-content center
				margin-right 18px
				font(0.75,medium)
				letter-spacing 0.2px
				color gray
				svg
					fill gray
					margin-right 5px
				&_like,&_dislike
					svg
						height 13px
				&_view
					svg
						height 9px
				&_comment
					svg
						height 12px
			^[2]&_main
				width 100%
				justify-content space-around
			^[2]&_main ^[2]__item
				margin-right 0
				width 25%
				flex-direction column-reverse
				align-items center
				height 59px
				color #fff
				border 1px solid rgba(#fff 15%)
				svg
					fill #fff
					margin-right 0

	&__content
		padding 21px 24px
		/.date
			font(0.75, medium)
			color gray
			display inline-flex
			align-items center
			svg
				height 14px
				fill gray
				margin 0 8px
	&__text
		margin-top 14px
		font(1.125, medium)
		color #000
		^[0]__item:hover &
			color purple
	&__button
		width 100%
		background-color purple
		font(0.8125,bold)
		color #fff
		text-transform uppercase
		border none
		height 81px
		&:hover
			background-color #1d1844


.sidebar
	width 300px
	overflow hidden
	&__heading
		display block
		padding-top 38px
		margin-bottom 38px
		margin 0
	&__block
		padding 0 23px
		background-color #fff
		margin-bottom 20px
	/.period
		position relative
		list-style-type none
		display flex
		justify-content space-between
		align-items center
		padding-top 38px
		padding-bottom 14px
		&__link
			color #000
			z-index 2
			position relative
			&:hover,&:focus
				color #000
				&:after
					green-line()
		&:after
			gray-line()

		/.number
			display inline-flex
			justify-content center
			align-items center
			width 22px
			height 22px
			background-color #ff7725
			border-radius 100%
			font(0.875,bold)
			color #fff
	&__item
		margin-top 41px
		margin-bottom 41px
	&__text
		margin-top 10px
		margin-bottom 19px
		font(1, medium)
	&__link
		display flex
		justify-content center
		align-items center
		position relative
		padding 24px 0
		font(0.8125, bold)
		color gray
		text-transform uppercase
		&:after
			content '+'
			font-size 1.5em
			margin-left 11px
		&:hover,&:focus
			color purple
		&:before
			gray-line()
			top 0
	&__button
		width 100%
		display flex
		align-items center
		background-color #ff7725
		border none
		height 60px
		font(0.815,bold)
		text-transform uppercase
		letter-spacing 0.6px
		color #fff
		margin 20px 0
		&:hover
			background-color #ff4e25
		svg
			height 37px
			fill #fff
			margin 0 16px
	&__banner
		padding 0

// Footer
@import 'include/footer.styl'

// Media queries
@import 'include/media.styl'