.footer
	background-color #080810
	overflow hidden
	width 100%
	padding-top 40px
	&__wrap
		&:last-child
			border-top 1px solid rgba(#33333d 45%)
	&-menu
		list-style-type none
		display flex
		justify-content center
		flex-wrap wrap
		margin auto
		&__item
			margin-right 40px
			&:last-child
				margin-right 0
		&__link
			font-set(0.75,bold)
			letter-spacing 1px
			color #fff
			text-transform uppercase
			position relative
			padding-bottom 5px
			&:hover, &:focus
				color #fff
				border-bottom 2px solid #0afcba
	&__logo
		margin 75px 0
		display flex
		justify-content center
		align-items center
		&-wrap
			position relative
			&:after
				content '16+'
				position absolute
				top -7px
				right -60px
				color #6103fc
				font-set(1.125, bold)
		svg
			height 60px
			fill #fff
			position relative
		&:before, &:after
			content ''
			height 1px
			width 100%
			background-color rgba(#33333d 45%)
			border solid #080810
			border-width 0 31px
		&:before
			margin-left -100%
		&:after
			margin-right -100%
	&__social
		position relative
		display flex
		align-items center
		flex-direction column
		margin-bottom 35px
	/.map_footer
		position absolute
		padding 0
		left 0
		margin-left 0
		transition 0.5s ease all
		cursor pointer
		&:after
			display none
		.map
			&__link
				display flex
			&__icon
				height 20px
				svg
					stroke-width 1.5px
					height 20px
					stroke #fff
			&__text
				font-set(0.875, medium)
				margin 0 8px 0 15px
				letter-spacing 0.4px
				color #fff
		&:hover
			.map
				&__text
					color #0afcba
				&__icon
					svg
						stroke #0afcba

	/.social_footer
		svg
			fill #fff
		.social__item
			margin-right 30px
			&:last-child
				margin-right 0
	&__terms
		padding 26px 0
		position relative
		font-set(0.75, regular)
		text-align center
		margin 0
	&__anchor-up
		position absolute
		right 0
		display flex
		align-items center
		font-set(0.75, bold)
		color #fff
		text-transform uppercase
		svg
			height 9px
			fill #fff
			margin-left 11px
		&:hover,&:focus
			color #0afcba
			svg
				fill #0afcba

