.footer
	background-color #080810
	overflow hidden
	&__menu
		list-style-type none
		display flex
		flex-wrap wrap
		justify-content space-between
		margin auto
		margin-top 40px
		max-width 625px
	&__link
		font(0.75,bold)
		color #fff
		text-transform uppercase
		position relative
		padding-bottom 5px
		&:hover, &:focus
			color #fff
			border-bottom 2px solid #0afcba
	&__social
		position relative
		display flex
		align-items center
		padding-bottom 26px
	&__logo
		margin 75px 0
		display flex
		justify-content center
		background-color #080810
		svg
			height 60px
			fill #fff
	&__map
		position absolute
		left 0
		display inline-block
		transition 0.5s ease all
		cursor pointer
		figure
			display flex
		svg
			height 20px
			stroke #fff
			^[-1]:hover svg
				stroke #0afcba
		figcaption
			font(0.875, medium)
			margin 0 8px 0 15px
			letter-spacing 0.4px
			color #fff
			^[-1]:hover figcaption
				color #0afcba
	/.social_footer
		display inline-flex
		margin auto
		width 318px
	&__terms
		padding 26px 0
		position relative
		p
			font(0.75, regular)
			text-align center
			margin 0
		&:before
			content:''
			height 1px
			width 9999px
			background-color rgba(#33333d 45%)
			position absolute
			top 0
			left -1000px

