.navbar
	margin-bottom 0
.navbar-brand
	display none
.navbar-collapse
	margin-left -15px
	margin-right -15px

.header
	background-color #fff
	overflow hidden
	&__block
		width 100%
		&:first-child,&:nth-child(2)
			border-bottom 1px solid  #edeef0
	&-nav
		position relative
		display flex
		justify-content space-between
		align-items center
		&__nav
			display flex
			justify-content space-between
			width 28.97%
			list-style-type none
		&__link
			font-set(0.875, regular)
			color gray
			&:hover, &:focus
				color purple
		/.map
			padding 20px 0
			margin-left -5.5%
			position relative
			transition 0.5s ease all
			cursor pointer
			&__link
				display flex
			&__icon
				height 20px
				svg
					height 20px
					stroke purple
			&__text
				font-set(0.875, medium)
				margin 0 8px 0 15px
				letter-spacing 0.4px
				color purple
			&:after
				content ''
				position absolute
				bottom -8px
				z-index 2
				left -10px
				right 0
				width 300px
				height 8px
				border-top solid 1px #0afcba
				^[-1]:hover:after
					background-image url('../../images/icons/triangle.png')
					background-repeat no-repeat
					background-position center


		&__social
			width 23.8%
		/.social
			display flex
			list-style-type none
			justify-content space-between
			align-items center
			&__icon
				display flex
				align-items center
				svg
					fill gray
					^[-1]^[-1]_vk svg
						height 11px
						&:hover
							fill #45668e
					^[-1]^[-1]_google svg
						height 14px
						&:hover
							fill #dd4b39
					^[-1]^[-1]_youtube svg
						height 12px
						&:hover
							fill #bb0000
					^[-1]^[-1]_instagram svg
						height 16px
						.gradient
							display none
						&:hover
							.gradient
								display block
					^[-1]^[-1]_fb svg
						height 16px
						&:hover
							fill #3b5998
					^[-1]^[-1]_ok svg
						height 17px
						&:hover
							fill #ff8400
					^[-1]^[-1]_twitter svg
						height 13px
						&:hover
							fill #00aced
					^[-1]^[-1]_test svg
						height 16px

	&-logo
		padding 32px 0 27px
		display flex
		justify-content space-between
		align-items center
		/.help
			display flex
			width 200px
			justify-content space-between
			&__link
				text-align center
				color #000
				&:hover, &:focus
					color purple
					.help__icon
						svg
							stroke purple
			&__icon
				svg
					stroke #000
					^[-1]^[-1]_search svg
						height 30px
					^[-1]^[-1]_eye svg
						height 34px
					^[-1]^[-1]_signup svg
						height 34px
					^[-1]^[-1]_signin svg
						height 34px
			&__text
				font-set(0.75,bold)
				text-transform uppercase
			figcaption
				text-transform uppercase
				margin-top 12px

		&__brand
			svg
				fill #262053
				height 69px

	&-menu
		padding 20px 0
		display flex
		justify-content center
		position relative
		&__menu
			display flex
			justify-content space-between
			list-style-type none
			width 100%
			max-width 770px
		&__link
			font-set(1,bold)
			letter-spacing 0.4px
			text-transform uppercase
			color #000
			&:hover, &:focus
				color purple

	&-mobile
		display none