rupture.scale = 0 480px 767px 1000px 1280px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl'

// Container
+above(768px)
	.container
		width 750px

+above(1001px)
	.container
		width 1000px

+above(1281px)
	.container
		width 1290px

// // (max-width: 1200px)
+below('l')
	.news
		max-width 620px


// (max-width: 1000px)
+below('m')
	//Responsive menu
	.navbar
		&-toggle
			position absolute
			left 0
			top 0
			bottom 0
			float none
			display block
			padding-left 0
			.icon-bar
				background-color #000
				width 40px
				margin-bottom 8px
		&__header
			display flex
			position relative
			justify-content center
			padding 15px 0 10px
			margin 0 auto
			max-width 420px
		&-collapse
			background-color #fff
			padding 0
			margin-top 17px
			&.collapse
				margin auto
				position absolute
				left 0
				right 0
				display none!important
				z-index 3
				&.in
					display flex!important
					flex-direction column
		.collapsing
			display flex
			flex-direction column
			margin auto
			position absolute
			left 0
			right 0
			z-index 3

	// Header styles
	.header
		/.logo_header_mobile
			display block
		&__mobile
			padding 15px 0
			border-top 1px solid #edeef0
			display flex
			.help
				justify-content center
		&__block
			border-top 1px solid  #edeef0
			&:first-child
				order 2
				.container
					width 100%
					padding 0
			&:nth-child(2)
				display none
		&-nav
			flex-direction column
			&__nav
				padding 10px 0
				align-items center
				flex-direction column
				order 2
			&__item
				margin 5px 0
			.social
				display none
			.map
				margin-left 0
				width 100%
				display flex
				justify-content center
				border-bottom 1px solid  #edeef0
				&:after
					display none
				&__icon
					svg
						stroke #000
				&__text
					color #000
				&:focus, &:hover
					.map
						&__text
							color purple
						&__icon
							svg
								stroke purple
		&-menu
			padding 10px 0
			&__menu
				width auto
				align-items center
				flex-direction column
			&__item
				margin 5px 0

	// news styles
	.page-wrap
		flex-wrap wrap
	.news
		max-width 100%
		margin-right 0
		&__heading
			text-align center
		&-item
			max-width inherit
			width 48.3%
			max-height 200px
			&__img
				display flex
				align-items center
				overflow hidden
				img
					width 100%
			&:nth-child(odd)
				margin-right 20px
			&:not(.news-item_no-img)
				^[1]__img
					min-height 40px
				^[1]__overlay
					display block
				^[1]
					.discuss
						display flex
						top inherit
						bottom 0
						.discuss__item
							flex-direction row
							height 40px
							svg
								margin-right 3px
				^[2] ^[1]__content
					padding 0 15px
					display flex
					flex-direction column
					position absolute
					top 40px
					height 60%
					justify-content space-between
				^[2] ^[1]__text
					line-height 20px
					margin-top 0
					order -1
					color #fff
				^[2] .date
					color #fff
					margin-bottom 10px
					svg
						fill #fff
			/.tag_news-item
				top 12px
				left 15px
			^[1]&_no-img
				^[1]__content
					padding 0 15px
					^[-1] .date
						position absolute
						top 14px
						right 15px
				^[1]__text
					margin-top 0
	// Sidebar styles
	.sidebar
		width 100%
		max-width 100%
		&__heading
			text-align center
	// Footer styles
	.footer
		&__logo
			margin 45px 0
			&-wrap:after
				right -40px
			&:before, &:after
				border-width 0px 15px
		&__social
			flex-wrap wrap
			margin-bottom 28px
		&__anchor-up
			position inherit
	.map_footer
		position inherit
		margin-bottom 30px
	.social_footer
		margin-bottom 30px

// (max-width: 768px)
+below('s')
	.footer-menu__item
		margin-right 12px
		margin-bottom 5px

// Custom Media
+below(630px)
	.news
		&-item
			max-width 100%
			width 100%
			&:nth-child(odd)
				margin-right 0

// (max-width: 480px)
+below('xs')
	// Header styles
	.navbar__header
		max-width 275px
	/.logo_header_mobile
		svg
			height 40px
	.help
		svg
			stroke-width 2px
		&__item
			margin-right 13px
		&__text
			font-size 0.6em
		&__icon
			^[1]&_search
				svg
					height 25px
			^[1]&_eye
				svg
					height 25px
			^[1]&_signup
				svg
					height 25px
			^[1]&_signin
				svg
					height 25px
// // Custom media iPhone6 & <
// +below(380px)