rupture.scale = 0 480px 767px 992px 1200px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl'

// Container
+above(768px)
	.container
		width 750px

+above(992px)
	.container
		width 970px

+above(1200px)
	.container
		width 1170px

+above(1281px)
	.container
		width 1290px

// // (max-width: 1200px)
// +below('l')

// // (max-width: 992px)
// +below('m')

// // (max-width: 767px)
// +below('s')

// // (max-width: 480px)
// +below('xs')

// // Custom media iPhone6 & <
// +below(380px)