footer.footer
	.container
		nav.footer__menu.menu-footer
			+menu([
			{href: '#', name: 'Новости'},
			{href: '#', name: 'Блоги'},
			{href: '#', name: 'Мастхэв'},
			{href: '#', name: 'Журналы'},
			{href: '#', name: 'Смотрят звезды'},
			{href: '#', name: 'Афиша'}
			], 'menu-footer__item')
		.footer__logo
		.footer__links
			.footer__map
				span.map Карта студенческих СМИ Москвы
			ul.social.social_footer
				li.social__item.siocial_footer__item
					a(href="#")
						include ../../images/social/vk.svg


		.footer__terms
			p 2017 © Первое студенческое агентство. При использовании материалов ссылка на источник обязательна.
