header.header
	nav.navbar
		.container
			.navbar-header
				//Menu button
				button(type='button', data-toggle='collapse', data-target='.navbar-collapse').navbar-toggle
					span.sr-only Навигация
					span.icon-bar
					span.icon-bar
					span.icon-bar
				.navbar-brand
					include ../../images/icons/logo.svg
			nav.collapse.navbar-collapse(role='navigation')
				.header__block.header-nav
					ul.header-nav__nav
						+menu([
						{href:'#', name:'О проекте'},
						{href:'#', name:'Партнеры'},
						{href:'#', name:'Пресса о нас'},
						{href:'#', name:'Контакты'}
						],
						'header-nav__list', 'header-nav__link')
					.header-nav__map
						figure
							include ../../images/icons/map.svg
							figcaption Карта студенческих СМИ Москвы
					.header-nav__social
						ul.social
							li.social__item.social__item_vk
								a(href="#").social__link
									include ../../images/social/vk.svg
							li.social__item.social__item_google
								a(href="#").social__link
									include ../../images/social/google.svg
							li.social__item.social__item_youtube
								a(href="#").social__link
									include ../../images/social/youtube.svg
							li.social__item.social__item_instagram
								a(href="#").social__link
									include ../../images/social/instagram.svg
							li.social__item.social__item_fb
								a(href="#").social__link
									include ../../images/social/fb.svg
							li.social__item.social__item_ok
								a(href="#").social__link
									include ../../images/social/ok.svg
							li.social__item.social__item_twitter
								a(href="#").social__link
									include ../../images/social/twitter.svg
							li.social__item.social__item_test
								a(href="#").social__link
									include ../../images/social/hover.svg

				.header__block.header-logo
					.header-logo__help.header-logo__help_left
						a(href="#").header-logo__link.header-logo__link_search
							figure
								include ../../images/icons/search.svg
								figcaption Поиск
						a(href="#").header-logo__link.header-logo__link_eye
							figure
								include ../../images/icons/eye.svg
								figcaption Слабовидящим

					.header-logo__brand
						include ../../images/icons/logo.svg

					.header-logo__help.block-logo__help_right
						a(href="#").header-logo__link.header-logo__link_signin
							figure
								include ../../images/icons/signin.svg
								figcaption Регистрация
						a(href="#").header-logo__link.header-logo__link_signup
							figure
								include ../../images/icons/signup.svg
								figcaption Войти
				.header__block.header-menu
					ul.header-menu__menu
						+menu([
						{href: '#', name: 'Новости'},
						{href: '#', name: 'Блоги'},
						{href: '#', name: 'Мастхэв'},
						{href: '#', name: 'Журналы'},
						{href: '#', name: 'Смотрят звезды'},
						{href: '#', name: 'Афиша'}
						], 'header-menu__list', 'header-menu__link')

			.header__block.header-mobile
				.header-logo__help.header-logo__help_left
					a(href="#").header-logo__link.header-logo__link_search
						figure
							include ../../images/icons/search.svg
							figcaption Поиск
					a(href="#").header-logo__link.header-logo__link_eye
						figure
							include ../../images/icons/eye.svg
							figcaption Слабовидящим
				.header-logo__help.block-logo__help_right
					a(href="#").header-logo__link.header-logo__link_signin
						figure
							include ../../images/icons/signin.svg
							figcaption Регистрация
					a(href="#").header-logo__link.header-logo__link_signup
						figure
							include ../../images/icons/signup.svg
							figcaption Войти