header
	nav.navbar
		.container
			.navbar-header
				//Menu button
				button(type='button', data-toggle='collapse', data-target='.navbar-collapse').navbar-toggle
					span.sr-only Навигация
					span.icon-bar
					span.icon-bar
					span.icon-bar
				.navbar-brand
			nav.collapse.navbar-collapse(role='navigation')
				.navbar__block.block-nav
					ul.block-nav__nav.main-nav.nav.navbar-nav
						+menu([{
						href:'#',
						name:'О проекте'
						},
						{
						href:'#',
						name:'Партнеры'
						},
						{
						href:'#',
						name:'Пресса о нас'
						},
						{
						href:'#',
						name:'Контакты'
						}
						], 'main-nav__item')
					.block-nav__map
						span.map Карта студенческих СМИ Москвы
					.block-nav__social.social.nav.navbar-nav
						ul
							+social([
							{href: '#', img:'vk'},
							{href: '#', img:'google'},
							{href: '#', img:'youtube'},
							{href: '#', img:'instagram'},
							{href: '#', img:'fb'},
							{href: '#', img:'ok'},
							{href: '#', img:'twitter'},
							])

				.navbar__block.block-logo
					.block-logo__help.block-logo__help_left
						a(href="#")
							figure
								img(src="#", alt="")
								figcaption Поиск
						a(href="#")
							figure
								img(src="#", alt="")
								figcaption Слабовидящим

					.block-logo__brand
						img(src="", alt="")

					.block-logo__help.block-logo__help_right
						a(href="#")
							figure
								img(src="#", alt="")
								figcaption Регистрация
						a(href="#")
							figure
								img(src="#", alt="")
								figcaption Войти
				.navbar__block.block-menu
					ul.block-menu__menu.navbar-menu.nav.navbar-nav
						+menu([
						{href: '#', name: 'Новости'},
						{href: '#', name: 'Блоги'},
						{href: '#', name: 'Мастхев'},
						{href: '#', name: 'Журналы'},
						{href: '#', name: 'Смотрят звезды'},
						{href: '#', name: 'Афиша'}
						], 'block-menu__item')

			.navbar__block.block-mobile
				.block-logo__help.block-logo__help_left
					a(href="#")
						figure
							img(src="#", alt="")
							figcaption Поиск
					a(href="#")
						figure
							img(src="#", alt="")
							figcaption Слабовидящим
				.block-logo__help.block-logo__help_left
					a(href="#")
						figure
							img(src="#", alt="")
							figcaption Регистрация
					a(href="#")
						figure
							img(src="#", alt="")
							figcaption Войти