header
	nav.navbar
		.container
			.navbar-header
				//Menu button
				button(type='button', data-toggle='collapse', data-target='.navbar-collapse').navbar-toggle
					span.sr-only Навигация
					span.icon-bar
					span.icon-bar
					span.icon-bar
				.navbar-brand
					include ../../images/icons/logo.svg
			nav.collapse.navbar-collapse(role='navigation')
				.navbar__block.block-nav
					ul.block-nav__nav
						+menu([
						{href:'#', name:'О проекте'},
						{href:'#', name:'Партнеры'},
						{href:'#', name:'Пресса о нас'},
						{href:'#', name:'Контакты'}
						],
						'block-nav__list', 'block-nav__link')
					.block-nav__map
						figure
							include ../../images/icons/map.svg
							figcaption Карта студенческих СМИ Москвы
					.block-nav__social.nav.navbar-nav
						ul.social
							li.social__item
								a(href="#")
									include ../../images/social/vk.svg
							li.social__item
								a(href="#")
									include ../../images/social/google.svg
							li.social__item
								a(href="#")
									include ../../images/social/youtube.svg
							li.social__item
								a(href="#")
									include ../../images/social/instagram.svg
							li.social__item
								a(href="#")
									include ../../images/social/fb.svg
							li.social__item
								a(href="#")
									include ../../images/social/ok.svg
							li.social__item
								a(href="#")
									include ../../images/social/twitter.svg

				.navbar__block.block-logo
					.block-logo__help.block-logo__help_left
						a(href="#")
							figure
								include ../../images/icons/search.svg
								figcaption Поиск
						a(href="#")
							figure
								include ../../images/icons/eye.svg
								figcaption Слабовидящим

					.block-logo__brand
						img(src="", alt="")

					.block-logo__help.block-logo__help_right
						a(href="#")
							figure
								include ../../images/icons/signin.svg
								figcaption Регистрация
						a(href="#")
							figure
								include ../../images/icons/signup.svg
								figcaption Войти
				.navbar__block.block-menu
					ul.block-menu__menu.navbar-menu.nav.navbar-nav
						+menu([
						{href: '#', name: 'Новости'},
						{href: '#', name: 'Блоги'},
						{href: '#', name: 'Мастхэв'},
						{href: '#', name: 'Журналы'},
						{href: '#', name: 'Смотрят звезды'},
						{href: '#', name: 'Афиша'}
						], 'block-menu__item', 'block-menu__link')

			.navbar__block.block-mobile
				.block-logo__help.block-logo__help_left
					a(href="#")
						figure
							img(src="#", alt="")
							figcaption Поиск
					a(href="#")
						figure
							img(src="#", alt="")
							figcaption Слабовидящим
				.block-logo__help.block-logo__help_left
					a(href="#")
						figure
							img(src="#", alt="")
							figcaption Регистрация
					a(href="#")
						figure
							img(src="#", alt="")
							figcaption Войти