header
	nav#navbar.navbar
		.container
			.navbar-header
				//Menu button
				button(type='button', data-toggle='collapse', data-target='.navbar-collapse').navbar-toggle
					span.sr-only Навигация
					span.icon-bar
					span.icon-bar
					span.icon-bar
				.navbar-brand
			nav.collapse.navbar-collapse(role='navigation')
				.navbar__block
					ul.nav.navbar-nav
						li
							a(href="#") Мастхев
						li
							a(href="#") Журналы
						li
							a(href="#") Смотрят звезды
						li
							a(href="#") Афиша
					.block__map
						span.map Карта студенческих СМИ Москвы
					.block__social.nav.navbar-nav
						li
							a(href="#")
								img(src="img/icons/.png", alt="")
						li
							a(href="#")
								img(src="img/icons/.png", alt="")
						li
							a(href="#")
								img(src="img/icons/.png", alt="")
						li
							a(href="#")
								img(src="img/icons/.png", alt="")
						li
							a(href="#")
								img(src="img/icons/.png", alt="")
						li
							a(href="#")
								img(src="img/icons/.png", alt="")
						li
							a(href="#")
								img(src="img/icons/.png", alt="")
				.navbar__block
					.block__nav-left
						a(href="#")
							figure
								img(src="#", alt="")
								figcaption Поиск
						a(href="#")
							figure
								img(src="#", alt="")
								figcaption Слабовидящим

					.block__brand
						img(src="", alt="")

					.block__nav-left
						a(href="#")
							figure
								img(src="#", alt="")
								figcaption Регистрация
						a(href="#")
							figure
								img(src="#", alt="")
								figcaption Войти
				.navbar__block
					ul.nav.navbar-nav
						li
							a(href="#") Новости
						li
							a(href="#") Блоги
						li
							a(href="#") Мастхев
						li
							a(href="#") Журналы
						li
							a(href="#") Смотрят звезды
						li
							a(href="#") Афиша